h1 {
    color:blue;
    font-weight:bold;
}
h1{text-align: center;}
div{
    margin-left:82%;
}
h2{
    margin-left:10%;
}
p{
    margin-left:10%;
}
table{
    margin-left:10%;
}
ul{
    margin-left:10%;
}
